@* @model List<SeriesDictionary.Dto.WordDto.ResultWordDto> *@
@{
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 0;
}
@* 
<div class="container mt-5">
    <h2 class="mb-4">Kelime Listesi</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>İngilizce</th>
                <th>Türkçe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.English</td>
                    <td>@item.Turkish</td>
                </tr>
            }
        </tbody>
    </table>
</div> *@