<div class="col-xl-6">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Araç Kiralama Ücretleri</h4>
            <p class="card-subtitle mb-4 font-size-13">
                Bazı araçların günlük - haftalık - aylık kiralama fiyatları.
            </p>

            <div class="table-responsive">
                <table class="table table-centered table-hover table-xl mb-0" id="recent-orders">
                    <thead>
                        <tr>
                            <th class="border-top-0">Marka</th>
                            <th class="border-top-0">Model</th>
                            <th class="border-top-0">Günlük Fiyat</th>
                            <th class="border-top-0">Haftalık Fiyat</th>
                            <th class="border-top-0">Aylık Fiyat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-truncate">Renault</td>
                            <td class="text-truncate">Clio</td>
                            <td class="text-truncate">₺ 150</td>
                            <td class="text-truncate">₺ 900</td>
                            <td class="text-truncate">₺ 3,600</td>
                        </tr>
                        <tr>
                            <td class="text-truncate">Fiat</td>
                            <td class="text-truncate">Egea</td>
                            <td class="text-truncate">₺ 180</td>
                            <td class="text-truncate">₺ 1,080</td>
                            <td class="text-truncate">₺ 4,320</td>
                        </tr>
                        <tr>
                            <td class="text-truncate">Volkswagen</td>
                            <td class="text-truncate">Passat</td>
                            <td class="text-truncate">₺ 250</td>
                            <td class="text-truncate">₺ 1,500</td>
                            <td class="text-truncate">₺ 6,000</td>
                        </tr>
                        <tr>
                            <td class="text-truncate">Ford</td>
                            <td class="text-truncate">Focus</td>
                            <td class="text-truncate">₺ 200</td>
                            <td class="text-truncate">₺ 1,200</td>
                            <td class="text-truncate">₺ 4,800</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>